{% extends 'base.html' %}
{% block content %}


	<div class="event">
		
		
	    <div class="date">
	        {{ event.event_date }}
	    </div>	
		<div>
			Автор: {{event.author}}
		</div>
		<a class="btn btn-default" href="{% url 'event_edit' pk=event.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		<h1>{{ event.title }}</h1>
		<p>{{ event.description|linebreaksbr }}</p>
		<div class="vote" ><a href="/event/vote/{{event.pk}}/">
			Проголосовать: {{event.votes}}</a>
		</div>
		<div>Создано: {{event.created_date}}</div>

		
		
	</div>


{% endblock %}

<!--  class="top_menu" -->