{% extends 'base.html' %}

{% block content %}

{% for event in events %}
	<div class="event">
		<div class="date">
		<!-- published: -->
		{{ event.event_date }}	
		</div> 
			
		<h3><a href="{% url 'event_details' pk=event.pk %}">
			{{ event.title }}</a></h3>
		<div>Автор: {{event.author}}</div>
		<div class="vote">Проголосовало {{ event.votes|linebreaksbr}}</div>
	</div>
	<hr>
{% endfor%}
{% endblock %}
