{% extends 'base.html' %}

{% block content %}
	<h1>New event</h1>
	<form method="POST" class="post-form">{% csrf_token %}
		{{form.as_p}}
		<button type="submit" class="save btn btn-default">Save</button>
	</form>
{% endblock %}
