{% load staticfiles %}
    <html>
        <head>

		<title>Voting System</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="{%static 'css/event.css'%}">
	    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        </head>
        <body>
	        <div class="page-header">
	        	{% if user.is_authenticated %}
	        	{% endif %}
	            <h1><a href="/"> Voting System </a></h1>
	        </div>
	        <div class="content container">
	            <div class="row">
	                <div class="col-md-8">
		                {% block content %}
		                {% endblock %}
	                </div>
	            </div>
	        </div>
    	</body>
    </html>